@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F0E5;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: #0F2C59;
    color: #fff;
}

header .pt2{
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

section{
    display: flex;
    justify-content: center;
    background-color: #F8F0E5;
    height: 670px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 .judul{
    font-size: 10px;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
}

.bio {
    margin-left: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px; 
    margin-bottom: 15px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.toko{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-content{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0F2C59;
    height: 50px;
}