@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}


:root{
    --primary-color: #fcfcfc;
    --secondary-color: #F8F0E5;
    --third-color: #DAC0A3;
    --fourth-color : #0F2C59;
    --primary-text: white;
    --secondary-text: black;
}

.dark-theme{
    --primary-color: #030303;
    --secondary-color: #070f1a;
    --third-color: #253f5c;
    --fourth-color : #f0d3a6;
    --primary-text: black;
    --secondary-text: white;
}

.logo{
    width: 30px;
    margin-left: 30px;
    justify-content: left;
}

.container-navbar{
    display: flex;
    background-color: var(--fourth-color);
    box-shadow: 2px 2px 5px var(--secondary-text);
    height: 130px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.nav-items{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-upper{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 80px;
}

#icon{
    width: 30px;
    padding-right: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.nav-lower{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 50px;
    box-shadow: 2px 2px 5px var(--secondary-text);
}

.navbar-content{
    display: flex;
    padding: 10px;
    gap: 20px;
    margin: 1px;
    align-items: center;
    text-decoration: none;
}

#cart{
    width: 50px;
    padding-right: 20px;
}

.search-box{
    background-color: var(--primary-text);
    display: flex;
    align-items: center;
    width: 500px;
    height: 30px;
    border: none;
    padding: 5px;
    border: 1px solid var(--secondary-text);
    border-radius: 10px;
}

.search-box .unf-icon{
    padding-right: 5px;
}

.search-box form .input input{
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
}

.form-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 140px;
}

#home,.me{
    text-decoration: none;
    color: var(--primary-text);
    font-family: 'Montserrat', sans-serif;
}

.masuk, .daftar{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text);
    background-color: var(--secondary-color);
    width: 60px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
}

section{
    padding-top: 130px;
    margin-bottom: 5px;
}

.container-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-content1{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    text-align: center;
    border-radius: 15px;
    background-color:var(--secondary-color);
    padding: 15px;
    box-shadow: 0px 2px 0px  rgb(90, 89, 89);
}

.judul{
    display: flex;
    text-align: left;
    color: var(--secondary-text);
    padding: 10px 20px 20px 15px;
    font-family: 'Montserrat', sans-serif;
}

.judul1{
    left: 100px;
    text-align: right;
    color: var(--secondary-text);
    width: 100%;
    padding: 10px 20px 20px 15px;
    font-family: 'Montserrat', sans-serif;
}

.wrap-content1{
    display: flex;
    gap: 10px;
    width: 90%;
    flex-wrap: wrap;
}

.content1-items1{
    text-align: center;
    background-color: var(--third-color);
    width: 320px;
    height: 400px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(90, 89, 89);
}

.img-content1{
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    width: 100%;
}
.content1-items1 .product{
    color: var(--secondary-text);
    font-family: 'Montserrat', sans-serif;
}

.harga1{
    color: red;
    font-family: 'Montserrat', sans-serif;
}

.section-content2{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    background-color: var(--primary-color);
}

.main1-content2{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 85%;
}

.wrap1-content2{
    position: relative;
    right: 30px;
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    box-shadow: 0px 2px 0px  rgb(90, 89, 89);
}


.main2-content2{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--secondary-color);
    border-radius: 15px;
    width: 85%;
}

.box1{
    
    width: 200px;
    background-color: var(--fourth-color);
}

.box2{
    right: 50px;
    height: 300px;
    width: 200px;
    background-color: var(--fourth-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrap2-content2{
    position: relative;
    left: 30px;
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    box-shadow: 0px 2px 0px  rgb(90, 89, 89);
}

.content-items2{
    text-align: center;
    background-color:  var(--third-color);
    width: 180px;
    height: 280px;
    margin: 10px auto;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgb(90, 89, 89);
}
.content-items2 .product{
    color: var(--secondary-text);
    font-family: 'Montserrat', sans-serif;
}

.img-content2{
    width: 100%;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}

.harga2{
    color: red;
    font-family: 'Montserrat', sans-serif;
}
.section-content3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    background-color: var(--primary-color);
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: var(--fourth-color);
    border-radius: 10px;
    text-decoration: none;
}
.more p {
    justify-content: center;
    color: var(--primary-text);
}
.container-footer{
    background-color: var(--fourth-color);
    width: 100%;
    height: 80px;
    color: var(--primary-text);
}

.content-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-header{
    padding: 5px;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 70px;
}

.sosmed img{
    width: 25px;
}

@media screen and (max-width: 640px) {
    .container-navbar {
        display: flex;
        flex-direction: column;
        height: 90px;
    }
    

    .nav-upper{
        display: flex;
        justify-content: center;
        font-size: 8px;
        margin: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .masuk, .daftar{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--secondary-text);
        background-color: var(--secondary-color);
        width: 40px;
        height: 25px;
        border-radius: 10px;
        text-decoration: none;
    }

    #icon{
        width: 30px;
        cursor: pointer;
    }

    .nav-lower {
        display: flex;
        border: 1px solid black;
        z-index: 1;
        justify-content: space-between;
    }

    .search-box{
        display: flex;
        width: 50px;
        align-items: center;
    }

    .logo img {
        margin-bottom: 10px;
    }

    .cart {
        margin-top: 10px;
    }
}
