<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <title>About Me</title>
</head>
<body>
    <header>
        <h1 class="judul">About Me</h1>
        <h1><a class="toko" href="../views/index.html">Toko kamera</a></h1>
    </header>
    <section class="about-me">
        <div class="profile-img">
            <img src="img/1695817169294.jpg" alt="Muhammad-Abdillah">
        </div>
        <div class="bio">
            <h2>Muhammad Abdillah</h2>
            <p>Seorang anak yang terjebak dalam tubuh remaja yang sedang beranjak dewasa</p>
            <p>Follow me on social media:</p>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/profile.php?id=100065862683504"><img src="../Posttest-2/img/fb.png" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/abdi.kazu/"><img src="../Posttest-2/img/ig.png" alt="Instagram"></a></li>
                <!-- Add more social media icons as needed -->
            </ul>
        </div>
    </section>
    <footer>
            <div class="footer-content">
                <p>&copy; 2023 Muhammad Abdillah</p>
            </div>
        </footer>
    </footer>
</body>
</html>
