<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posttest 2</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <nav class="container-navbar">
        <div class="nav-items">
            <div class="nav-upper">
                <div class="logo"><img src="../img/pngegg.png""></div>
                <div class="navbar-content">
                    <a class="home" href="#">Home</a>
                    <a class="me" href="../views/about.html">About Me</a>
                    <a class="masuk" href="#"><h3>Masuk</h3></a>
                    <a class="daftar" href="#"><h3>Daftar</h3></a>
                </div>
            </div>
            <div class="nav-lower">
                <a class="logo"><img src="../img/pngegg.png" alt=""></a>
                <div class="search-box">
                    <form action="">
                        <input type="text" name="search"
                    </form>
                </div>
                <img class="cart" src="../img/cart.png" alt="">
            </div>
        </div>
    </nav>

    <section>
        <div class="container-content">
            <div class="section-content1">
                <div class="main-content1">
                    <h2 class="judul">Produk Terbaru !!!</h2>
                    <div class="wrap-content1">
                        <a href="" class="content1-items1"><img class="img-content1" src="../img/kamera.jpg" alt="">
                        <h4 class="product">Canon</h4><br>
                        <h4 class="harga1">Rp 5.000.000</h4>
                        <a href="" class="content1-items1"><img class="img-content1" src="../img/kamera.jpg" alt="">
                        <h4 class="product">Canon</h4><br>
                        <h4 class="harga1">Rp 5.000.000</h4>
                        <a href="" class="content1-items1"><img class="img-content1" src="../img/kamera.jpg" alt="">
                        <h4 class="product">Canon</h4><br>
                        <h4 class="harga1">Rp 5.000.000</h4>
                    </a>
                    </div>
                </div>
            </div>
            <div class="section-content2">
                <div class="main1-content2">
                    <h2 class="judul1">Produk Pilihan Kami !!!</h2>
                    <div class="box1"></div>

                    <div class="wrap1-content2">
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                            <h4 class="product">Canon</h4><br>
                            <h4 class="harga2">Rp 5.000.000</h4>
                        </a>
                        <a href="" 
                        class="content-items2">
                        <img class="img-content2" src="../img/kamera.jpg" alt="">
                        <h4 class="product">Canon</h4><br>
                        <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                                <h4 class="product">Canon</h4><br>
                                <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                            <h4 class="product">Canon</h4><br>
                            <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                            <h4 class="product">Canon</h4><br>
                            <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                    </div>
                    
                </div> 
                <div class="main2-content2">
                    <h2 class="judul">Produk Pilihan Kami !!!</h2>
                    <div class="wrap2-content2">
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                            <h4 class="product">Canon</h4><br>
                            <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                            <h4 class="product">Canon</h4><br>
                            <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" 
                        class="content-items2">
                        <img class="img-content2" src="../img/kamera.jpg" alt="">
                        <h4 class="product">Canon</h4><br>
                        <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" class="content-items2">
                        <img class="img-content2" src="../img/kamera.jpg" alt="">
                        <h4 class="product">Canon</h4><br>
                        <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                        <a href="" class="content-items2">
                            <img class="img-content2" src="../img/kamera.jpg" alt="">
                            <h4 class="product">Canon</h4><br>
                            <h4 class="harga2">Rp 5.000.000</h4>
                            </a>
                    </div>
                    <div class="box2"></div>
                </div>
            </div>
        </div>   
    </section>

    <footer>
        <div class="container-footer">
            <div class="content-footer">
                <div class="footer-header">
                    <h4>Ikuti Saya</h4>
                </div>
                <div class="footer-items">
                    <a href="" class="sosmed"><img src="img/ig.png" alt=""></a>
                    <a href="" class="sosmed"><img src="img/fb.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>